<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.calix.calixgigaspireapp">

    <!-- Screen support -->
    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

   <!--App permissions-->
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:allowBackup="false"
        android:fullBackupContent="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">

        <!-- First launch screen -->
        <activity
            android:name=".ui.loginregconfig.Splash"
            android:theme="@style/AppSplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.loginregconfig.Login"
            android:configChanges="keyboardHidden|orientation|screenSize" />

        <activity
            android:name=".ui.loginregconfig.Registration"
            android:configChanges="keyboardHidden|orientation|screenSize" />

        <activity
            android:name=".ui.loginregconfig.RouterConfiguration"
            android:configChanges="keyboardHidden|orientation|screenSize" />

        <activity
            android:name=".ui.loginregconfig.QRBarcodeScanner"
            android:configChanges="keyboardHidden|orientation|screenSize" />

        <activity
            android:name=".ui.loginregconfig.RouterDetected"
            android:configChanges="keyboardHidden|orientation|screenSize" />

        <!--Google vision plugin-->
        <meta-data
            android:name="com.google.android.gms.vision.DEPENDENCIES"
            android:value="barcode" />

        <!--Fabric plugin-->
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="4ed2936e78c0de47af5684f24a561bd1618ae511" />

    </application>

</manifest>